<section class="hero-section">
    <div>
        <h1>
            Sharpen Your Legal Edge With Javallin
        </h1>
        <p>
            We are here to help you craft your arguments 
            with precision to land every legal target and to 
            propel your case forward with confidence.
        </p>
        <button>
            Join waitlist
        </button>
    </div>
    <div>
        <img src="" alt="a vector image of a judge with a gavel">
    </div>
</section>
<section class="about">
    <div>
        <h2>About Us</h2>
    </div>
    <div>
        <!-- make display flex row-->
        <div>
            <img src="" alt="a vector image of a group of three people">
        </div>
        <div>
            <p>
                Lawyers spend about 10 hours per case on manual 
                research to build persuasive arguments for court 
                which is both time consuming and prone to human error 
                leading to potential setbacks in legal proceedings.
            </p>
            <p>
                We are an online platform for predictive legal analysis. 
                We help lawyers check where and how many times their argument 
                succeeded in previous cases to help them save time and make 
                better informed decisions.
            </p>
        </div>
    </div>
</section>
<section class="we-are">
    <div>
        <h2>We are</h2>
    </div>
    <!-- make alignement grid to evenly space the icons -->
    <div>
        <div>
            <i>icon here</i>
            <h4>Fast</h4>
        </div>
        <div>
            <i>icon here</i>
            <h4>Affordable</h4>
        </div>
        <div>
            <i>icon here</i>
            <h4>Efficient</h4>
        </div>
    </div>
</section>
