
<div class="flex h-screen">
    <app-sidenav class="basis-1/5"></app-sidenav>
    <div class="flex flex-col w-full px-24 pt-10 basis-4/5">
        <div class="flex justify-between">
            <div>
                <h1 class="text-center text-3xl font-bold text-secondary">My Case Files</h1>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-12 h-12 rounded-full bg-primary text-white flex items-center justify-center text-xl font-bold">
                  JD
                </div>
                <div class="text-sm font-medium">
                  John Doe
                </div>
            </div>
        </div>
        <div class="mt-10 flex flex-col">
            <div class="flex flex-col items-center py-4 mt-5 bg-neutral-200 rounded-lg">
                <h3 class="my-4 text-gray-400 text-start text-lg">upload your case details here and lets help you with your research</h3>
                <form (submit)="onSubmit($event)">
                    <label for="facts of case" class="text-gray-400">upload a file with case details : </label>
                    <input type="file" name="myfile" id="factsOfCase" (change)="onFileSelected($event, 'factsOfCase')"><br>
                    <p class="pb-2 text-center font-semibold text-lg text-secondary">or</p>
                    <textarea class="p-20 focus:outline-none rounded-lg" name="input_text" id="" placeholder="type case details as text" class="w-full" ></textarea>
                  </form>

                  <button class="bg-primary mx-auto text-center mt-4 text-white rounded-full px-6 py-2 text-sm font-bold" (click)="uploadFiles()" [routerLink]="['/analytics']">submit</button>
                <!-- <img class="m-2" src="assets/images/fileupload-page-img.png" alt="upload image">
                <p class="p-4 text-center text-gray-400">
                    Ooops! You have not uploaded  
                    any case files yet. <br>
                    Click to upload
                </p> -->
                <!-- <button></button> -->
                <!-- <button (click)="toggleUploadModal()" class="bg-primary text-white rounded-full px-8 py-2 text-sm font-bold">Upload</button> -->
                <!-- <button class="submit" (click)="uploadFile()" [routerLink]="['/insights']">Submit</button> -->
            </div>
        </div>
    </div>
    <!-- <app-dashboard (closeModal)="isUploadModalOpen = false"></app-dashboard> -->
</div>
