<div class="navbar">
    <div class="greeting">
        Welcome!
    </div>
    <div class="menu">
        <i class="fa fa-bell" style="font-size:24px"></i>
        My account
    </div>
</div>




<div class="chatbot">
    <div class="heading">
        <h1>How can i help you today?</h1>
    </div>
    <div class="chat-container">
        <div id="chat-return">
            <!-- Chat messages will be displayed here -->
        </div>
        <div id="input-container" class="chatbox">
            <input style="width: 600px;" type="text" id="user-input" placeholder="What are the facts of your case?">
            <button id="send-button" class="button">Send</button>
        </div>
    </div>

</div>