<section class="flex justify-between h-screen">
    <div>
        <app-sidenav class="basis-1/5"></app-sidenav>
    </div>
    <div class="fixed ml-80 basis-4/5 w-3/4">
        <div class="flex justify-between my-10 mr-12">
            <div>
                <h3 class="font-semibold text-xl text-primary">Chat with legalLens</h3>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-12 h-12 rounded-full bg-primary text-white flex items-center justify-center text-xl font-bold">
                  JD
                </div>
                <div class="text-sm font-medium">
                  John Doe
                </div>
            </div>
        </div>
        <div class="bg-neutral-200 p-10 h-[450px] rounded-lg pb-28 mr-12 ">
            <div class="response-container">
                <div class="heading">
                    <h1>How can i help you today?</h1>
                </div>
                <div class="h-44 w-full">
                    <div class="chat-history">
                        <div *ngFor="let message of messages" class="message py-4">
                          <span class="font-semibold my-2"><span class=" text-primary">User : </span>{{message.userInput}}</span> <br>
                          <span class="message-sender font-semibold text-secondary">{{ message.sender }}  :</span> 
                          <span class="message-content"> {{ message.content }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="input-container" class="chatbox w-full bg-stone-200 my-4">
                <input class="w-full focus:outline-none" type="text" id="user-input" [(ngModel)]="userInput" placeholder="What are the facts of your case?">
                <button id="send-button" class="button" (click)="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</section>