<section class="flex ">
    <div class="w-[260px]">
        <app-sidenav></app-sidenav>
    </div>
    <div class="flex flex-col w-full px-20 py-10">
        <div class="header flex justify-between">
            <div>
                <h3>Analytics</h3>
                <p>serachbox</p>
            </div>
            <div>
                <p>my profile</p>
            </div>
        </div>
        <div>
            <h3 class="text-center">Case analytics</h3>
            <p>{{uploadResponse.message}}</p>
        </div>
        <div class="statistic-cards grid grid-cols-3 gap-4 py-4 text-primary">
            <div class="bg-[#F6FAFF]  border-[1px] border-gray-100 flex justify-center p-6 rounded-lg shadow-sm w-64">
                <div>
                    <svg width="30" height="30" viewBox="0 0 40 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3359 7.12551V4.26768C11.3359 2.46292 12.9279 1 14.8899 1H25.5579C27.5219 1 29.1139 2.46292 29.1139 4.26768V7.12551" fill="#B7094C"/>
                        <path d="M11.3359 7.12551V4.26768C11.3359 2.46292 12.9279 1 14.8899 1H25.5579C27.5219 1 29.1139 2.46292 29.1139 4.26768V7.12551" stroke="white" stroke-linecap="round"/>
                        <path d="M35 9.27026H5C2.79086 9.27026 1 10.9159 1 12.9459V31.3243C1 33.3543 2.79086 35 5 35H35C37.2091 35 39 33.3543 39 31.3243V12.9459C39 10.9159 37.2091 9.27026 35 9.27026Z" fill="#B7094C" stroke="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11 12.946V31.3243V12.946ZM29 12.946V31.3243V12.946Z" fill="#B7094C"/>
                        <path d="M11 12.946V31.3243M29 12.946V31.3243" stroke="white" stroke-linecap="round"/>
                    </svg>
                </div>
                <div>
                    <h3 class="text-center text-3xl font-bold">105</h3>
                    <p class="text-center mx-4 my-2">cases with similar facts</p>
                </div>
            </div>
            <div class="bg-[#F6FAFF] border-[1px] border-gray-100 flex justify-center p-6 rounded-lg shadow-sm w-64">
                <div>
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26.203 0H13.5992C11.7241 0 10.1992 1.27217 10.1992 2.83333V22.6667C10.1992 24.2292 11.7241 25.5 13.5992 25.5H30.5992C32.4743 25.5 33.9992 24.2292 33.9992 22.6667V6.49683L26.203 0ZM23.7992 8.5V1.41667L32.2992 8.5H23.7992Z" fill="#0E294C"/>
                        <path d="M8.50156 4.25H5.10156V26.9167C5.10156 28.4792 6.62646 29.75 8.50156 29.75H28.9016V26.9167H8.50156V4.25Z" fill="#0E294C"/>
                        <path d="M3.4 8.5H0V31.1667C0 32.7292 1.5249 34 3.4 34H23.8V31.1667H3.4V8.5Z" fill="#0E294C"/>
                    </svg>
                </div>
                <div>
                    <h3 class="text-center text-3xl text-secondary font-bold">30</h3>
                    <p class="text-center mx-4 my-2">Cases with similar arguments</p>
                </div>
            </div>
            <div class="bg-[#F6FAFF] border-[1px] border-gray-100 flex justify-center p-6 rounded-lg shadow-sm w-64">
                <div>
                    <svg width="26" height="34" viewBox="0 0 26 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_484_278)">
                        <path d="M13 21.25C10.7088 21.25 8.54425 20.9429 6.5 20.468V34L13 29.75L19.5 34V20.468C17.4557 20.9429 15.2913 21.25 13 21.25Z" fill="#B7094C"/>
                        <path d="M13 17C20.1797 17 26 13.1944 26 8.5C26 3.80558 20.1797 0 13 0C5.8203 0 0 3.80558 0 8.5C0 13.1944 5.8203 17 13 17Z" fill="#B7094C"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_484_278">
                        <rect width="26" height="34" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
                <div>
                    <h3 class="text-center text-3xl font-bold">15</h3>
                    <p class="text-center mx-4 my-2">Cases where it succeded</p>
                </div>
            </div>
        </div>
        <div class=" flex justify-around py-4">
            <div class="">
                <h3 class="text-center">List of cases</h3>
                <table>
                    <tr>
                        <th>CITATION</th>
                        <th>CASE TITLE</th>
                        <th>DATE</th>
                        <th>COURT LEVEL</th>
                    </tr>
                    <tr>
                        <td>GLR 523-535</td>
                        <td>RE AKOTO & 7 OTHERS</td>
                        <td>5TH DEC 1990</td>
                        <td>SUPREME COURT</td>
                    </tr>
                    <tr>
                        <td>GLR 523-535</td>
                        <td>RE AKOTO & 7 OTHERS</td>
                        <td>5TH DEC 1990</td>
                        <td>SUPREME COURT</td>
                    </tr>
                    <tr>
                        <td>GLR 523-535</td>
                        <td>RE AKOTO & 7 OTHERS</td>
                        <td>5TH DEC 1990</td>
                        <td>SUPREME COURT</td>
                    </tr>
                    <tr>
                        <td>GLR 523-535</td>
                        <td>RE AKOTO & 7 OTHERS</td>
                        <td>5TH DEC 1990</td>
                        <td>SUPREME COURT</td>
                    </tr>
                    <tr>
                        <td>GLR 523-535</td>
                        <td>RE AKOTO & 7 OTHERS</td>
                        <td>5TH DEC 1990</td>
                        <td>SUPREME COURT</td>
                    </tr>
                    <tr>
                        <td>GLR 523-535</td>
                        <td>RE AKOTO & 7 OTHERS</td>
                        <td>5TH DEC 1990</td>
                        <td>SUPREME COURT</td>
                    </tr>
                
                </table>
            </div>
        </div>
    </div>
</section>
