<!-- <html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head> -->
   <div class="parent">
        <div class="container">

            <div class="buttons">+ Add facts of Case</div>
            <div class="buttons">+ Add facts of Case</div>
            <div class="buttons">+ Add facts of Case</div>
            <div class="buttons">+ Add facts of Case</div>
            
            
           
        </div>
        <button class="submit" ><a [routerLink]="['insights']">Submit</a></button>
        </div>

<!-- </html> -->