<div class="fixed h-screen w-[250px] bg-[#F6FAFF]">
    <div class="py-10">
        <img class="h-20" src="assets/images/logo-1.png" alt="">
        <div class="border-b-2 px-2 mx-4"></div>
    </div>
    <div class="w-full">
        <a class="px-10 w-full" routerLink="/uploadfiles" ><fa-icon class="text-secondary text-2xl px-2" [icon]="faCloudArrowUp"></fa-icon> Upload </a>
    </div>
    <div class="w-full py-6">
        <a class="px-10 w-full"  routerLink="/analytics"><fa-icon class="text-secondary text-2xl px-2" [icon]="faChartLine"></fa-icon> Analytics </a>
    </div>
    <div class="w-full">
        <a class="px-10 w-full" routerLink="/" ><fa-icon class="text-secondary text-2xl px-2 rotate-180" [icon]="faRightFromBracket"></fa-icon> LogOut </a>
    </div>
</div>