<div class="flex">

    <!-- <app-sidenav></app-sidenav> -->
    <app-sidenav></app-sidenav>
    <div class="ml-72">
        <div class="navbackground">
            <div class="navbar">
                <div class="logo">
                    <!-- <img src="/assets/images/logo-1.png" width="100%" alt="Logo"> -->
        
                </div>
                <div class="menu">
                    My account
                </div>
            </div>
        </div>
        
        <h1 class="heading">Insights</h1>
        <div class="insight-columns">
            <div class="insight-rows">
                <div class="insight-card">
                    <!-- <ul *ngFor = "let file of similarFiles">
                        <li>{{file}}</li>
                    </ul> -->
                    <h1></h1>
                    <h5>CASES WITH SIMILAR FACTS</h5>
                </div>
                <div class="insight-card2">
                    <h1>{{ casesWithSimilarFacts }}</h1>
                    <h5>CASES WITH SIMILAR ARGUMENTS USED</h5>
                </div>
                <div class="insight-card">
                    <h1>{{ casesWhereSucceeded }}</h1>
                    <h5>CASES WHERE IT SUCCEEDED</h5>
                </div>
            </div>

        </div>
        <table>
            <tr>
                <th>CITATION</th>
                <th>CASE TITLE</th>
                <th>DATE</th>
                <th>COURT LEVEL</th>
            </tr>
            <tr>
                <td>GLR 523-535</td>
                <td>RE AKOTO & 7 OTHERS</td>
                <td>5TH DEC 1990</td>
                <td>SUPREME COURT</td>
            </tr>
            <tr>
                <td>GLR 523-535</td>
                <td>RE AKOTO & 7 OTHERS</td>
                <td>5TH DEC 1990</td>
                <td>SUPREME COURT</td>
            </tr>
            <tr>
                <td>GLR 523-535</td>
                <td>RE AKOTO & 7 OTHERS</td>
                <td>5TH DEC 1990</td>
                <td>SUPREME COURT</td>
            </tr>
            <tr>
                <td>GLR 523-535</td>
                <td>RE AKOTO & 7 OTHERS</td>
                <td>5TH DEC 1990</td>
                <td>SUPREME COURT</td>
            </tr>
            <tr>
                <td>GLR 523-535</td>
                <td>RE AKOTO & 7 OTHERS</td>
                <td>5TH DEC 1990</td>
                <td>SUPREME COURT</td>
            </tr>
            <tr>
                <td>GLR 523-535</td>
                <td>RE AKOTO & 7 OTHERS</td>
                <td>5TH DEC 1990</td>
                <td>SUPREME COURT</td>
            </tr>
        
        </table>
    </div>
</div>