@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700");


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.logo {
    width: 100px;
    padding: 10px;
    margin: 30px;
    border: 1px solid #ffff;

}

.menu {
    padding: 50px;
    margin: 10px;
}




.heading {
    text-align: center;
    color: #112D5D;
    font-family: 'Inter';
    
}

.insight-rows {
    display: flex;

}


.insight-card {
    flex: 33.33%;
    margin: 20px;
    padding: 25px;
    font-family: 'Montserrat';
    background-color: #112D5D;
}

.insight-card {
    color: white;
    text-align: center;
    padding: 0px 20px;
    font-family: 'Montserrat';
    font-size: larger;
    font-weight: bolder;
    border-radius: 22px;
}

.insight-card2 {
    flex: 33.33%;
    margin: 20px;
    padding: 25px;
    font-family: 'Montserrat';
    background-color: #B7094C;
    border-radius: 22px;
}

.insight-card2  {
    color: white;
    text-align: center;
    padding: 0px 20px;
    font-family: 'Montserrat';
    font-size: larger;
    font-weight: bolder;
}

table {
    font-family: 'Inter';
    text-align: center;
    border-spacing: 10px 50px;
    padding: 20px;
    width: 100%;
}

tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 22px; /* Adding shadow */
}

  /* Style for table cells */
td, th {
    padding: 20px;
}

  