.container {
  height: 500px;
}

/* .fixed-header {
    position: fixed;
    width: 100%;
  } */

.chat-container {
  position: relative;
  padding: 10px;
  width: 100%;
  border: 1px solid #112D5D;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

.table-container {
  overflow-y: auto; /* Enable vertical scroll for the container */
  height: 300px; /* Adjust height as needed */
}
.table-container::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #0E294C;
  border-radius: 5px;
}

.table-container::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

table {
  width: 100%; 
  border-collapse: collapse;
}

/* thead, tbody {
  display: block;
} */

thead {
  position: sticky; /* Fix header to the top */
  top: 0; /* Adjust position if needed */
  background-color: white; /* White background for header */
  z-index: 1; /* Ensure header stays on top during scroll */
  color: #112D5D;
}

th, td {
  /* padding: 10px; */
  
  padding: 10px; /* Adjust padding as needed */
  /* border: 1px solid #ddd; */
  text-align: center; /* Left alignment as per your preference */
  width: 25%;
  
}


tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 22px; /* Adding shadow */
    /* background-color: aliceblue; */
}

