<section class="flex h-screen">
    <div class="basis-1/5">
        <app-sidenav></app-sidenav>
    </div>
    <div class="flex flex-col mx-20 py-10 basis-4/5 ">
        <div class="header flex justify-between">
            <div>
                <h3 class="font-semibold text-xl text-primary">Search</h3>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-12 h-12 rounded-full bg-primary text-white flex items-center justify-center text-xl font-bold">
                  JD
                </div>
                <div class="text-sm font-medium">
                  John Doe
                </div>
            </div>
        </div>
        <div class="flex">
            <h2 class='font-medium'>Search Ghanaian Case Law </h2>
        </div>
        <div class="chat-container">
            <div id="chat-return">
                <!-- Chat messages will be displayed here -->
            </div>
            <div id="input-container" class="chatbox">
              <form class="flex justify-between" (ngSubmit)="onSubmit()">
                <!-- <input type="text" formControlName="caseTitle" placeholder="Enter Case Title">
                <button type="submit">Search</button> -->
                <input style="width: 800px; " class="focus:outline-none pt-2" name="searchTitle" type="text" [(ngModel)]="searchTitle" placeholder="Type a case title">
                <button type="submit"  class="button p-2 mr-8">
                  <svg width="20" height="20" fill="#B7094C" 
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </button>
              </form>
            </div>
        </div>
     
        <div class=" flex justify-around py-4 w-full ">
            <div class="w-full bg-neutral-200  border-[1px] border-gray-100 p-4 rounded-lg">
                <h3 class="text-center font-semibold text-xl text-secondary">List of cases</h3>
                <div class="table-container">
                  <div *ngIf="isLoadingData" class="flex justify-around py-20">
                    <p>No cases to display yet please input the <br> case you want to search first</p>
                </div>
                <div *ngIf="!isLoadingData">
                  <h2>Search Results:</h2>
                  <ul>
                    <li *ngFor="let result of searchResults">
                      {{ result.case_number }}
                    </li>
                  </ul>
                </div>
                    <!-- <table *ngIf="!isLoadingData">
                      <thead>
                        <tr>
                          <th class="">File Index</th>
                          <th>Title</th>
                          <th>Date</th>
                          <th>Court Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let case of searchResults" class="">
                          <td>{{case.case_number}}</td>
                          <td>{{case.case_title}}</td>
                          <td>{{case.date}}</td>
                          <td>{{case.court}}</td>
                        </tr>
                      </tbody>
                    </table> -->
                  </div>
            </div>
        </div>
    </div>
</section>
