<section class="flex lg:fixed">
    <div class="w-[260px]">
        <app-sidenav></app-sidenav>
    </div>
    <div class="flex flex-col w-full pl-36 py-10 ">
        <div class="header flex justify-between">
            <div>
                <h3 class="font-semibold text-xl text-primary">Case analytics</h3>
            </div>
            <div class="flex items-center space-x-2">
                <div class="w-12 h-12 rounded-full bg-primary text-white flex items-center justify-center text-xl font-bold">
                  JD
                </div>
                <div class="text-sm font-medium">
                  John Doe
                </div>
            </div>
        </div>
        <div *ngIf="!isLoadingData">
            <p>{{uploadResponse.message}}</p>
        </div>
        <div *ngIf="isLoadingData"></div>
        <div class="flex">
            <h2 class='font-medium'>Search Ghanaian Case Law & Statutes by Title or ID </h2>
        </div>
        <div class="chat-container">
            <div id="chat-return">
                <!-- Chat messages will be displayed here -->
            </div>
            <div id="input-container" class="chatbox">
                <input style="width: 800px;" type="text" id="user-input" placeholder="Type a case name or statute ">
                <button id="send-button" class="button"><svg width="20" height="20" fill="#B7094C" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></button>
            </div>
        </div>
     
        <div class=" flex justify-around py-4 w-full mb-10">
            <div class="w-full bg-[#F6FAFF]  border-[1px] border-gray-100 p-4 rounded-lg container">
                <h3 class="text-center font-semibold text-xl text-primary">List of cases</h3>
                <div class="scrollable-content">
                    <table *ngIf="!isLoadingData">
                        <div class="">
                            <!-- <tr>
                                <th>CITATION</th>
                                <th>CASE TITLE</th>
                                <th>DATE</th>
                                <th>COURT LEVEL</th>
                            </tr> -->
                        </div>
                        <tr *ngFor="let item of items">
                            <td>{{ item.case_number }}</td>
                            <td>{{ item.case_title }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.court }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
